{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password?</title>
    <link href="{% static 'index.css' %}" rel="stylesheet" />
    <script src="{% static '/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<body>
    <img class="wave" src="{% static 'images/wave.svg' %}" alt="This an image of wave" />
    <div class="container">
        <div class="img">
            <img src="{% static 'images/coffee.svg' %}" alt="Image of a boy sitting holding a coffee mug beside a large coffee mug" />
        </div>
        <div class="login-container">
            <form action="#">
                <h2>Forgot Password?</h2>
                <div class="input-div one">
                    <div class="em">
                        <em class="glyphicon glyphicon-envelope"> </em>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input class="input" type="text" />
                    </div>
                </div>
                
                
                    <input type="submit" class="btn btn-group-lg"
                    style="font-size: 20px; border-radius: 25px; outline: none" />
                    <p class="loginhere">
                        Have already an account ? <a href="login" class="loginhere-link" id ="loginhere"><strong>Login here</strong></a>
                    </p>
            </form>
        </div>
    </div>
</body>

</html>